
/* ------------------------- Section pentru studenti -------------------------------- */
body {
    background: #fafafa;
}

section {
  margin: 50px auto;
  width: 80%;
  max-width: 400px;
  text-align: center;
  border: 2px solid #1f1951;
  border-radius: 5px;
  padding: 20px;
}

section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-color: #421182;
}

section form {
  display: flex;
  flex-direction: column;
}

section label {
  font-size: 16px;
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT';
  font-weight: bold;
}

section input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

section input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-btn {
  width: 100%;
  background-color: #421182;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT';
  font-weight: bold;
}

.submit-btn:hover {
  background: #6731ad;
}

@media (max-width: 400px) {
  section {
    width: 90%;
  }
}

section select {
  /* Common styles for input fields and select */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

section select {
  /*appearance: none;  Remove default arrow on some browsers */
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 30px; /* Adjust based on the icon width */
}


/* Style for the student list container */
.student-list-container {
    max-height: 400px; /* Set the maximum height to control the scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
}


/* ----------------------------------- Section pentru Admini ------------------------------- */
#admin-section {
    margin: 50px auto;
    width: 80%;
    max-width: 1400px;
    text-align: center;
    border: 2px solid #1f1951;
    border-radius: 5px;
    padding: 20px;
}

/* Common styles for both mobile and desktop */
.student-list-container table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap; /* Prevent text from wrapping */
}

.student-list-container th,
.student-list-container td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    text-align: center;
    border-right: 1px solid #ddd; /* Add vertical line to the right */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflow */
}

/* Style for the table header */
.student-list-container th {
    background-color: #f2f2f2;
}

/* Style for delete button */
.delete-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: #c0392b;
}

/* Export CSV button */
.csv-btn {
    /* padding: 10px 20px; */
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('/csv-icon.png'); /* Path to your PNG icon */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px; /* Adjust the size of the icon */
    width: 30px; /* Adjust the initial width of the button */
    height: 30px; /* Adjust the initial height of the button */
    transition: transform 0.2s; /* Add smooth transition for the transformation */
    margin-bottom: 10px;
    outline: none;
}

.csv-btn:hover {
    transform: scale(1.2); /* Enlarge the button on hover */
}

/* Mobile view */
@media (max-width: 767px) {
    .student-list-container {
        width: 100%;
        max-width: none;
        height: auto;
        overflow-x: scroll; /* Add horizontal scroll for mobile */
        overflow-y: hidden; /* Hide vertical scroll for mobile */
    }

    .csv-btn {
        width: 40px;
        height: 40px;
    }
}

/* Desktop view */
@media (min-width: 768px) {
    #admin-section {
        margin: 50px auto;
        width: 80%;
        max-width: 1400px;
        text-align: center;
        border: 2px solid #1f1951;
        border-radius: 5px;
        padding: 20px;
    }

    .student-list-container {
        width: 100%;
        max-width: 1200px;
        height: 400px;
        overflow: auto;
    }
}

.accept-btn {
  background-color: #28a745; /* Green color for accept button */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.accept-btn:hover {
  background-color: #218838; /* Darker green color on hover */
}

.reject-btn {
  background-color: #dc3545; /* Red color for reject button */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reject-btn:hover {
  background-color: #c82333; /* Darker red color on hover */
}

/*
.email-column {
    width: 20%;  Adjust the width as needed
}
*/
