

/* --------------------------------------------------------------------------------- */

.main {
  width: 50%;
  margin: 0 auto;
  background-color: #708090;
}

.important {
  background-color: #fafafa;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

h2 {
  text-align: center;
}

.form-label {
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
  padding: 8px 12px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  /* Move the button lower */
  position: relative;
  margin-top: 50px;
  /* Make the button bigger */
  width: 150px;
  height: 40px;
  background-color: #421182;
  color: #fff;
  padding: 8px 12px;
  margin: 0 auto;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Gill Sans', 'Gill Sans MT';
  font-weight: bold;

  /* Hover effect */
  &:hover {
    background-color: #7136bf;
  }
}


@media (max-width: 768px) {
  .main {
    width: 100%;
  }

  .important {
    padding: 10px;
  }

  .form-label {
    margin-bottom: 5px;
  }

  .form-control {
    width: 100%;
  }

  .btn {
    width: 100%;
  }
}
