<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-fzjw1aMixKQA7J8fScnxl9f/2O/r21Yf3G1z9X4k/z7u5w+OrCJd93If2Ed4jBP4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" th:href="@{/navbar.css}" />
    <link rel="stylesheet" th:href="@{/home.css}" />
    <title>Student Accommodation</title>
    <nav>
      <input type="checkbox" id="check" />
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">StudentAccommo</label>
      <ul class="navigation">
        <li><a class="active" th:href="@{/}">Acasă</a></li>
        <li th:if="${session.userRole eq 'ADMIN'}">
          <a th:href="@{/news}">Anunțuri</a>
        </li>
        <li th:if="${session.userRole eq 'STUDENT'}">
          <a th:href="@{/form}">Înscriere cazare</a>
        </li>
        <li th:if="${session.userRole eq 'ADMIN'}">
          <a th:href="@{/admin/manage}">Lista studenți</a>
        </li>
        <li th:unless="${session.loggedInUser}"><a th:href="@{/form}">Înscriere cazare</a></li>
        <li th:if="${session.loggedInUser}">
          <a th:href="@{/logout}" data-confirm="Are you sure you want to log out?">Logout</a>
        </li>
        <li th:unless="${session.loggedInUser}">
          <a th:href="@{/login}">Login</a>
        </li>
      </ul>
    </nav>
  </head>
  <body>
    <h2>Anunțuri pentru studenți</h2>
    <section class="news-section">

      <ul>
        <li th:each="newsPost : ${newsPosts}">
          <h3 class="title" th:text="${newsPost.title}"></h3>
          <p class="content" th:text="${newsPost.content}"></p>
          <a th:if="${newsPost.fileName}" th:href="@{'/download/' + ${newsPost.fileName}}" th:text="${newsPost.fileName}">Download File</a>

          <!-- Edit and delete buttons for admins -->
          <div th:if="${session.userRole eq 'ADMIN'}">
<!--            <button class="edit-btn">Edit</button>-->
            <button class="delete-btn" th:attr="data-postId=${newsPost.id}, data-confirm='Are you sure you want to delete this news post?'"
                    onclick="confirmDelete(this);">
              Delete
            </button>
          </div>
        </li>
      </ul>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
    function confirmDelete(button) {
  var postId = button.getAttribute("data-postId");
  var confirmMessage = button.getAttribute("data-confirm");

  if (confirm(confirmMessage)) {
    window.location.href = '/delete-news/' + postId;
  }
}
    </script>
    <script th:inline="javascript">
      var loginSuccessParam = ${param.loginSuccess}; // Get the query parameter value

      if (loginSuccessParam === 'true') {
          window.onload = function() {
              alert('Login successful!');
          };
      }
    </script>

  </body>
</html>
