<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/styles.css}" />
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />
  <title>Student Accommodation - Login</title>
</head>
<body>
<nav>
  <input type="checkbox" id="check" />
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo">HustlrAccommodation</label>
  <ul>
    <li><a th:href="@{/}">Acasă</a></li>
    <li><a href="#">Anunțuri</a></li>
    <li><a href="#">Înscriere cazare</a></li>
    <li><a href="#">Spații de cazare</a></li>
    <li><a  class="active" th:href="@{/login}">Logare</a></li>
    <li><a href="#">Contacte</a></li>
  </ul>
</nav>
  <section>
    <!-- Display "Already logged in" message when user is authenticated -->
    <div th:if="${session.loggedInUser}">
      <p>Already logged in</p>
    </div>
    <!-- Display log-in/sign-up form when user is not authenticated -->
    <div th:unless="${session.loggedInUser}">
  <!--    <h2>Autentificare</h2>-->
    <div class="login-form-container">
      <form th:action="@{/login}" method="post">
        <h2>Autentificare</h2>
        <label for="email-login">Email:</label>
        <input type="email" id="email-login" name="email" required>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" name="password" required>
        <button type="submit">Login</button>
      </form>
    </div>
    <div class="register-form-container">
      <form th:action="@{/register}" method="post">
        <h2>Înregistrare</h2>
        <!-- Add your register form fields here -->
        <label for="first-name">First name:</label>
        <input type="text" id="first-name" name="firstName" required>
        <label for="last-name">Last name:</label>
        <input type="text" id="last-name" name="lastName" required>
        <label for="email-register">Email:</label>
        <input type="email" id="email-register" name="email" required>
        <label for="password-register">Password:</label>
        <input type="password" id="password-register" name="password" required>
        <button type="submit">Register</button>
      </form>
    </div>

  </div>
</section>
</body>
</html>
