<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/navbar.css}" />
  <link rel="stylesheet" th:href="@{/news.css}" />
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />
  <title>Student Accommodation</title>
  <nav>
    <input type="checkbox" id="check" />
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">StudentAccommo</label>
    <ul>
      <li><a th:href="@{/}">Acasă</a></li>
      <li th:if="${session.userRole eq 'ADMIN'}">
        <a th:href="@{/news}">Anunțuri</a>
      </li>
      <li th:if="${session.userRole eq 'STUDENT'}">
        <a th:href="@{/form}">Înscriere cazare</a>
      </li>
      <li th:if="${session.userRole eq 'ADMIN'}">
        <a th:href="@{/admin/manage}">Lista studenți</a>
      </li>
      <li th:unless="${session.loggedInUser}"><a th:href="@{/form}">Înscriere cazare</a></li>
      <li th:if="${session.loggedInUser}">
        <a th:href="@{/logout}" data-confirm="Are you sure you want to log out?">Logout</a>
      </li>
      <li th:unless="${session.loggedInUser}">
        <a th:href="@{/login}">Login</a>
      </li>
    </ul>
  </nav>
</head>
<body>
  <div class="main">
    <section class="important">
      <h2 class="text-center">Scrie un anunț</h2>
      <form method="post" action="/save-news" enctype="multipart/form-data">
        <div class="twothirds container">
          <label for="title" class="form-label">Titlu:</label><br>
          <input type="text" id="title" name="title" class="form-control" size="40" required><br><br>
          <label for="newstext" class="form-label">Conținut:</label><br>
          <textarea id="newstext" name="content" class="form-control" rows="15" cols="67" required></textarea><br>
          <label for="file">Fișier:</label><br>
          <input type="file" name="file" id="file" class="btn-file">

        </div>
        <div class="container">
          <input type="submit" name="submit" value="Postează" class="btn btn-primary">
        </div>

      </form>
    </section>
  </div>

<!--    <script th:src="@{/animation.js}" type="text/javascript"></script>-->
</body>
</html>
